{%extends 'base.html'%}


{%block content%}
{%includes 'includes/analytics.html'%}

<div class="row" style="margin-top: 50px;">
      <div class="col-lg-4 col-sm-1  bg-white" ></div>
      <div class="col-lg-4 col-sm-10 text-justify " style='background-color: white;margin-left:10px;font-size: 18px; ' >
      	<p class='text-dark'>This is a crowd sourced initiative to track cases of COVID-19 in Gandhinagar City</br>
      		

      	Our application relies on data that is crowd sourced hence complete data might not be available or locations might be inaccurate. However, data regarding the localities is accurate enough</br></br>

      We will continue  to improve the functionality of this map and update it timely.</br></br>

      At such a sensitive time, we all urge you to follow the rules of social distancing and avoid going out unnecessarily to prevent further spread of the virus</br></br>

      Incase you want to suggest any,improvements , report any kind of information,contribute towards the development of this application or suggest any edits, you can reach out to us at:
      <table class='table'>
      	<tr>
      		<td>Twitter</td>
      		<td>@shadowhydra8</td>
      	</tr>

      </table>
Note: By hosting/ giving this service, We do not intend to spread false information, fear or create panic among the masses.</br></br>
  </p></div>
      	<div class="col-lg-4 col-sm-1 bg-white" ></div>
    </div>


	{%endblock%}