{%load static%}<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gandhinagar COVID-19 MAP</title>
	<link rel = "stylesheet" href = "{%static 'css/leaflet.css'%}"/>
    <script src = "{%static 'js/leaflet.js'%}"></script>
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

     {%block stylesheet%}
     {%endblock%}
</head>
<body>
	<nav class="navbar navbar-expand-md bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class=" navbar-brand nav-link " href="{%url 'home'%}">COVID-19 Tracker</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{%url 'statistics'%}">Statistics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{%url 'aboutus'%}">About Us</a>
    </li>
    
  </ul>

</nav>

<div class='alert alert-danger col-12' style='margin-top: 10px;'>
	
	<strong>Update! </strong>Gandhinagar has been declared a red-zone by the Central Goverment as of 1<sup>st </sup>May, 2020

	</div>


{%block content%}
{%endblock%}

</body>
</html>